{%- assign block_support = 'text-with-image,paragraph-list-and-images,paragraph-list,text-with-btn,paragraph-list-2' | split: ','-%}

<div class="section-ingredients">
  <div class="section-blocks">
    {%- for block in section.blocks -%}

      {%- unless block_support contains block.type-%}
        {%- continue -%}
      {%- endunless -%}

      {%- case block.type -%}
        {%- when 'text-with-btn' -%}
          <div class="block text-with-btn block-{{block.id}}" {{block.shopify_attributes}}>
            <div class="block_wrapper">
              <div class="content">{{block.settings.content}}</div>
              {%- if block.settings.btn_label != blank -%}
                <a href="{{block.settings.btn_url | default: '#'}}" class="btn btn--large btn--secondary">{{block.settings.btn_label}}</a>
              {%- endif -%}
            </div>
          </div>
        {% comment %} end {% endcomment %}

        {%- when 'text-with-image' -%}
          <div class="block text-with-image grid block-{{block.id}} {%- if block.settings.reverse_order -%} reverse-order {%- endif -%}" {{block.shopify_attributes}}>

              <div class="block_image grid__item large-up--one-half medium--one-whole">
                {%- if block.settings.image != blank -%}
                  {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                  <div class="lazy-image"  style="padding-top: {{1 | divided_by: block.settings.image.aspect_ratio | times: 100 | append: '%'}}; background-image:  url('{{ block.settings.image | img_url: '1x1' }}');">
                    <img class="lazyload"
                      style="height: 100%;object-fit: cover;"
                      alt="{{ block.settings.image.alt }}"
                      data-src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048, 2450, 2700, 3000, 3350, 3750, 4100]"
                      data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                      data-parent-fit="cover"
                      data-sizes="auto"/>
                  </div>

                  <noscript>
                    <div class="no-script" style="padding-top: {{1 | divided_by: block.settings.image.aspect_ratio | times: 100 | append: '%'}}; background-image:  url('{{ block.settings.image | img_url: '1x1' }}');" >
                      <img style="width: 100%;height: 100%;" src="{{block.settings.image | img_url: 'master'}}" alt="{{block.settings.image.alt}}">
                    </div>
                  </noscript>
                {%- else -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </div>

              <div class="block_text grid__item large-up--one-half medium--one-whole">
                <div class="block_wrapper">
                  <h2 class="block_title">{{block.settings.title}}</h2>
                  <div class="description block_content">{{block.settings.desc}}</div>
                </div>
              </div>

          </div>
        {% comment %} end {% endcomment %}

        {%- when 'paragraph-list-and-images' -%}
          <div class="block paragraph-list-images block-{{block.id}}" {{block.shopify_attributes}}>
            <div class="block_wrapper">
              <h2 class="block_title">{{block.settings.title}}</h2>
              <div class="paragraph-list-images_wrapper">
                {%- assign blocks = section.blocks | where: 'type','paragraph-image' -%}

                {%- for b in blocks -%}
                  <div class="block_item" {{b.shopify_attributes}}>
                    <div class="image">
                      {%- render 'lazy-img' image: b.settings.image -%}
                    </div>
                    <div class="paragraph">
                      <div class="title">{{b.settings.block_title}}</div>
                      <div class="subtitle block_content">{{b.settings.subtitle}}</div>
                      <div class="block_content">{{b.settings.content}}</div>
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </div>
        {% comment %} end {% endcomment %}

        {%- when 'paragraph-list' -%}
          <div class="block paragraph-list  block-{{block.id}}" {{block.shopify_attributes}}>
            <div class="block_wrapper">
              <h2 class="block_title">{{block.settings.title}}</h2>
              <div class="grid grid--uniform">
                {%- assign blocks = section.blocks | where: 'type', 'paragraph-item' -%}

                {%- for b in blocks -%}
                  <div class="paragraph-item grid__item large-up--one-third medium--one-third small--one-half" {{b.shopify_attributes}}>
                    <div class="paragraph-item_wrapper">
                      <div class="title">{{b.settings.block_title}}</div>
                      <div class="content block_content">{{b.settings.content}}</div>
                    </div>
                  </div>
                {%- endfor -%}
              </div>
            </div>
          </div>
        {% comment %} end {% endcomment %}

        {%- when 'paragraph-list-2' -%}
          {%- capture style -%}
            {%- if block.settings.intro_bg_color != blank and block.settings.intro_bg_color != 'rgba(0,0,0,0)' -%}
              background-color: {{block.settings.intro_bg_color}};
            {%- endif -%}
            {%- if block.settings.intro_text_color != blank and block.settings.intro_text_color != 'rgba(0,0,0,0)' -%}
              color: {{block.settings.intro_text_color}};
            {%- endif -%}
          {%- endcapture -%}
          <div class="block paragraph-list-2 block-{{block.id}}"style="{{style}}" {{block.shopify_attributes}}>
            <div class="block_wrapper grid">
                <div class="grid__item large-up--one-half medium--one-whole small--one-whole">
                <div class="intro block_title">{{block.settings.intro}}</div>
              </div>
              <div class="grid__item large-up--one-half medium--one-whole small--one-whole grid">
                {%- for i in (1..4) -%}
                  {%- liquid
                    assign title      = 'paragraph_title_' | append: i
                    assign text_1     = 'paragraph_text_1_' | append: i
                    assign text_2     = 'paragraph_text_2_' | append: i
                    assign bg_color   = 'paragraph_bg_color_'  | append: i
                    assign text_color = 'paragraph_text_color_'  | append: i
                  -%}
                  <div class="paragraph-item paragraph-item-{{forloop.index}}  grid__item one-half small--one-whole">
                    <div class="paragraph-item_wrapper">
                      <div class="title">{{block.settings[title]}}</div>
                      <div class="text-1 block_content">{{block.settings[text_1]}}</div>
                      <div class="text-2 block_content"><i>{{block.settings[text_2]}}</i></div>
                    </div>
                  </div>
                  <style>
                    .section-ingredients .block-{{block.id}} .paragraph-item {
                      {%- if block.settings.paragraph_bg_color != blank and block.settings.paragraph_bg_color != 'rgba(0,0,0,0)' -%}
                        background-color: {{block.settings.paragraph_bg_color}};
                      {%- endif -%}
                      {%- if block.settings.paragraph_text_color != blank and block.settings.paragraph_text_color != 'rgba(0,0,0,0)' -%}
                        color: {{block.settings.paragraph_text_color}};
                      {%- endif -%}
                    }
                    @media screen and (max-width: 749px){
                      .section-ingredients .block-{{block.id}} .paragraph-item.paragraph-item-{{forloop.index}}{
                        {%- if block.settings[bg_color] != blank and block.settings[bg_color] != 'rgba(0,0,0,0)' -%}
                          background-color: {{block.settings[bg_color]}};
                        {%- endif -%}
                        {%- if block.settings[text_color] != blank and block.settings[text_color] != 'rgba(0,0,0,0)' -%}
                          color: {{block.settings[text_color]}};
                        {%- endif -%}
                      }
                    }
                  </style>
                {%- endfor -%}
              </div>
            </div>
          </div>
        {% comment %} end {% endcomment %}

      {%- endcase -%}
      <style>
        .section-ingredients .block-{{block.id}}{
          {%- if block.settings.bg_color != blank and block.settings.bg_color != 'rgba(0,0,0,0)' -%}
            background-color: {{block.settings.bg_color}};
          {%- endif -%}
          {%- if block.settings.text_color != blank and block.settings.text_color != 'rgba(0,0,0,0)' -%}
            color: {{block.settings.text_color}};
          {%- endif -%}
        }
      </style>
    {%- endfor -%}
  </div>
</div>

{%- schema -%}
  {
    "name" : {
      "en": "Ingredients Page"
    },
    "tag" : "section",
    "settings" : [],
    "blocks": [
      {
        "type" : "text-with-image",
        "name" : {
          "en": "Text with Image"
        },
        "settings" : [
          {
            "type": "color",
            "id": "bg_color",
            "label": {
              "en": "Background color"
            }
          },
          {
            "type": "color",
            "id": "text_color",
            "label": {
              "en": "Text color"
            }
          },
          {
            "type": "header",
            "content": {
              "en": "Text"
            }
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Title"
            }
          },
          {
            "type" : "richtext",
            "id" : "desc",
            "label" : {
              "en" : "Description"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          },
          {
            "type": "header",
            "content": {
              "en": "Image"
            }
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image"
            }
          }
        ]
      },
      {
        "type" : "text-with-btn",
        "name" : {
          "en": "Text with Button"
        },
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Title"
            }
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": {
              "en": "Background color"
            }
          },
          {
            "type": "color",
            "id": "text_color",
            "label": {
              "en": "Text color"
            }
          },
          {
            "type" : "richtext",
            "id" : "content",
            "label" : {
              "en" : "Content"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": {
              "en": "Button label"
            }
          },
          {
            "type" : "url",
            "id" : "btn_url",
            "label" : {
              "en": "Button link"
            }
          }
        ]
      },
      {
        "type" : "paragraph-list",
        "limit" : 1,
        "name" : {
          "en": "Paragraph list"
        },
        "settings" : [
          {
            "type": "paragraph",
            "content": {
              "en": "To add item. Please go to 'Add content' and add content name '[+] Paragraph item'."
            }
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Title"
            }
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": {
              "en": "Background color"
            }
          },
          {
            "type": "color",
            "id": "text_color",
            "label": {
              "en": "Text color"
            }
          }
        ]
      },
      {
        "type" : "paragraph-item",
        "name" : {
          "en": "[+] Paragraph Item"
        },
        "settings" : [
          {
            "type": "text",
            "id": "block_title",
            "label": {
              "en": "Title"
            }
          },
          {
            "type" : "richtext",
            "id" : "content",
            "label" : {
              "en" : "Content"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          }
        ]
      },
      {
        "type" : "paragraph-list-2",
        "name" : {
          "en": "Paragraph list 2"
        },
        "settings" : [
          {
            "type": "header",
            "content": {
              "en": "Intro"
            }
          },
          {
            "type": "color",
            "id": "intro_bg_color",
            "label": {
              "en": "Background color"
            }
          },
          {
            "type": "color",
            "id": "intro_text_color",
            "label": {
              "en": "Text color"
            }
          },
          {
            "type" : "textarea",
            "id" : "intro",
            "label" : {
              "en" : "Intro"
            },
            "default" : "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
          },
          {
            "type": "header",
            "content": {
              "en": "Paragraph settings"
            }
          },
          {
            "type": "color",
            "id": "paragraph_bg_color",
            "label": {
              "en": "Background color"
            },
            "info": {
              "en": "Only works on large device"
            }
          },
          {
            "type": "color",
            "id": "paragraph_text_color",
            "label": {
              "en": "Text color"
            },
            "info": {
              "en": "Only works on large device"
            }
          },
          {
            "type": "header",
            "content": {
              "en": "Paragraph 1"
            }
          },
          {
            "type": "color",
            "id": "paragraph_bg_color_1",
            "label": {
              "en": "Background color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "color",
            "id": "paragraph_text_color_1",
            "label": {
              "en": "Text color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "text",
            "id": "paragraph_title_1",
            "label": {
              "en": "Title"
            },
            "default" : "Title"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_1_1",
            "label" : {
              "en" : "Text 1"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_2_1",
            "label" : {
              "en" : "Text 2"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>"
          },
          {
            "type": "header",
            "content": {
              "en": "Paragraph 2"
            }
          },
          {
            "type": "color",
            "id": "paragraph_bg_color_2",
            "label": {
              "en": "Background color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "color",
            "id": "paragraph_text_color_2",
            "label": {
              "en": "Text color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "text",
            "id": "paragraph_title_2",
            "label": {
              "en": "Title"
            },
            "default" : "Title"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_1_2",
            "label" : {
              "en" : "Text 1"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_2_2",
            "label" : {
              "en" : "Text 2"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>"
          },
          {
            "type": "header",
            "content": {
              "en": "Paragraph 3"
            }
          },
          {
            "type": "color",
            "id": "paragraph_bg_color_3",
            "label": {
              "en": "Background color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "color",
            "id": "paragraph_text_color_3",
            "label": {
              "en": "Text color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "text",
            "id": "paragraph_title_3",
            "label": {
              "en": "Title"
            },
            "default" : "Title"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_1_3",
            "label" : {
              "en" : "Text 1"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_2_3",
            "label" : {
              "en" : "Text 2"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>"
          },
          {
            "type": "header",
            "content": {
              "en": "Paragraph 4"
            }
          },
          {
            "type": "color",
            "id": "paragraph_bg_color_4",
            "label": {
              "en": "Background color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "color",
            "id": "paragraph_text_color_4",
            "label": {
              "en": "Text color"
            },
            "info": {
              "en": "Only works on mobile."
            }
          },
          {
            "type": "text",
            "id": "paragraph_title_4",
            "label": {
              "en": "Title"
            },
            "default" : "Title"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_1_4",
            "label" : {
              "en" : "Text 1"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          },
          {
            "type" : "richtext",
            "id" : "paragraph_text_2_4",
            "label" : {
              "en" : "Text 2"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>"
          }
        ]
      },
      {
        "type" : "paragraph-list-and-images",
        "limit" : 1,
        "name" : {
          "en": "Paragraph list with Image"
        },
        "settings" : [
          {
            "type": "paragraph",
            "content": {
              "en": "To add item. Please go to 'Add content' and add content name '[+] Paragraph & Image'."
            }
          },
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Title"
            }
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": {
              "en": "Background color"
            }
          },
          {
            "type": "color",
            "id": "text_color",
            "label": {
              "en": "Text color"
            }
          }
        ]
      },
      {
        "type" : "paragraph-image",
        "name" : {
          "en": "[+] Paragraph & Image"
        },
        "settings" : [
          {
            "type": "header",
            "content": {
              "en": "Image"
            }
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": {
              "en": "Image"
            }
          },
          {
            "type": "header",
            "content": {
              "en": "Paragraph"
            }
          },
          {
            "type": "text",
            "id": "block_title",
            "label": {
              "en": "Title"
            }
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": {
              "en": "Subtitle"
            }
          },
          {
            "type" : "richtext",
            "id" : "content",
            "label" : {
              "en" : "Content"
            },
            "default" : "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!</p>"
          }
        ]
      }
    ],
    "presets": []
  }
{%- endschema -%}