<!-- /snippets/product.liquid -->

{% comment %}
    Renders product content

    Accepts:
    - product: {Object} Current product (required)
    - section: {Object} Image to render (required)

    Usage:
    {%- render 'product' product: product, section: section, unique: unique -%}
{% endcomment %}

<div class="product__wrapper product__wrapper--{{ section.settings.image_layout | default: 'thumbnails '}}" data-product>

  {%- if section.settings.show_breadcrumbs -%}
    <nav class="breadcrumbs">
      <small>
        <a href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home' | t }}</a><span class="breadcrumbs__arrow">{% render 'icon-arrow-right' %}</span>

        {% if template contains 'product' %}
          {% assign first_collection = product.collections[0] %}
          {% if first_collection.handle != blank %}
            {{ first_collection.title | link_to: first_collection.url }}
            <span class="breadcrumbs__arrow">{% render 'icon-arrow-right' %}</span>
          {% endif %}

          <span>{{ product.title }}</span>
        {% endif %}

        {% if template contains 'collection' %}
          {% if collection %}<a href="{{ collection.url }}">{{ collection.title }}</a><span class="breadcrumbs__arrow">{% render 'icon-arrow-right' %}</span>{% endif %}
        {% endif %}
      </small>
    </nav>
  {%- endif -%}


  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}

  <div class="grid product__page">
    <div class="grid__item medium-up--one-half">
      <div class="product__slides product-single__photos" data-product-slideshow data-product-single-media-group>
        {% for media in product.media %}
          {% render 'media', media: media, featured_media: featured_media, sectionkey: unique %}
        {% endfor %}
      </div>

      {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
      {% if first_3d_model %}
        <button
          class="btn btn--light btn--ar product-single__view-in-space"
          data-shopify-xr
          data-shopify-model3d-id="{{ first_3d_model.id }}"
          data-shopify-title="{{ product.title }}"
          data-shopify-xr-hidden>
          {% render 'icon-media-model' %}
          <span class="product-single__view-in-space-text">{{ 'products.general.view_space' | t }}</span>
        </button>
      {% endif %}

      <noscript>
        {% for image in product.media %}
          <img src="{{ image.preview_image | img_url: '900x' }}" alt="{{ image.alt | default: product.title  }}">
        {% endfor %}
      </noscript>
      {% if product.media.size > 1 %}
        <div data-product-thumbs class="product__thumbs--square"></div>
      {%- endif -%}
    </div>

    <div class="grid__item medium-up--one-half">
      <div class="form__wrapper{% unless current_variant.available %} variant--soldout{% endunless %}" data-form-wrapper>
        <div class="form__inner__wrapper">
          <div class="form__width">
            <div class="product__title__wrapper">
              <h1 class="product__title">{{ product.title }}</h1>
              <div class="h5--body product__price" data-price-wrapper>
                <span data-product-price {% if current_variant.compare_at_price > current_variant.price %} class="product__price--sale"{% endif %}>
                  {{ current_variant.price | money }}
                </span>

                {% if product.compare_at_price_max > product.price %}
                  <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                  <s class="product__price--strike" data-compare-price>
                    {% if current_variant.compare_at_price > current_variant.price %}
                      {{ current_variant.compare_at_price | money }}
                    {% endif %}
                  </s>
                {% endif %}

                {% liquid
                  assign units = product.variants | map: 'unit_price'
                  if units[0]
                    assign has_units = true
                  else
                    assign has_units = false
                  endif
                %}
                {% if has_units %}
                  {% capture show_units %}
                    {%- unless current_variant.unit_price -%}style="display: none;"{%- endunless -%}
                  {% endcapture %}
                  {% capture unit_price_separator %}
                    <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                  {% endcapture %}
                  {% capture unit_price_base_unit %}
                    <span>
                      {% if current_variant.unit_price_measurement %}
                        {% if current_variant.unit_price_measurement.reference_value != 1 %}
                          {{ current_variant.unit_price_measurement.reference_value }}
                        {%- endif -%}
                        {{ current_variant.unit_price_measurement.reference_unit }}
                      {% endif %}
                    </span>
                  {% endcapture %}
                  <p data-product-unit {{ show_units }} class="product__price--unit">
                    <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
                    <span data-product-unit-price id="unit-price-{{ section.id }}">{{ current_variant.unit_price | money }}</span>
                    {{unit_price_separator}}
                    <span data-product-base id="unit-price-base-{{ section.id }}">{{unit_price_base_unit}}</span>
                  </p>
                {% endif %}
              </div>
              <div class="product__afterpay">
                {%- render 'afterpay' -%}
              </div>
              <div class="product__subscription">
                <div class="ro_widget"></div>
              </div>
            </div>

            {%- if settings.enable_product_reviews -%}
              <div class="product__badge">
                {%- if settings.enable_yotpo and settings.yotpo_ID != '' -%}
                  <div class="yotpo bottomLine" data-product-id="{{ product.id }}"></div>
                {%- else -%}
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  <a href="#reviews-scroll">{{ 'products.product.reviews_link' | t }}</a>
                {%- endif -%}
              </div>
            {%- endif -%}

            <div data-product-form class="product__form">
              {% render 'product-form', product: product, section: section %}
            </div>

            {%- assign description_position = '' -%}
            {%- assign product_description_content = product.description -%}
            {%- assign has_tabs = false -%}
            {%- for block in section.blocks -%}
              {%- if block.type == "tab_description" -%}
                {%- assign has_tabs = true -%}
              {%- endif -%}
            {%- endfor -%}
            {%- if has_tabs -%}
              {%- assign product_description_content = product_description_content | split: '<h6>' | first -%}
            {%- endif -%}

            <div class="product-description rte">
              {%- if section == nil -%}
                {{ product.description | split: '<h6>' | first | strip_html | truncatewords: 30, '...' }}
                <hr />
                <p>
                  <a href="{{ product.url }}" class="more">{{ 'products.general.view_product' | t }} &rarr;</a>
                </p>
              {%- else -%}
                {{ product_description_content }}
              {%- endif -%}
            </div>

            {%- if section.blocks.size > 0 and section.settings.tabs_enable -%}
              <div class="tabs-wrapper productTabsWrapper">
                {% render 'product-tabs', section: section, product: product %}
              </div>
            {%- endif -%}

            {% if section.settings.product_show_vendor and product.vendor %}
              <p class="product__vendor caps">{{ 'products.product.vendor' | t }}: <a href="{{ product.vendor | url_for_vendor }}" class="text-link">{{ product.vendor }}</a></p>
            {%- endif -%}

            {% if section.settings.show_share_buttons %}
              <div class="product__sharing">
                {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media.preview_image %}
              </div>
            {% endif %}

            {%- if settings.enable_product_reviews -%}
              {%- if settings.enable_yotpo and settings.yotpo_ID != '' -%}
                <!-- /partials/yotpo-reviews.liquid -->

                <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_media.preview_image | img_url: '1024x' |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>

              {%- else -%}
                <div class="product__reviews" id="reviews-scroll">
                  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                </div>
              {%- endif -%}
            {%- endif -%}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% unless product == empty %}
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ unique }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}
